<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ravindu.mobilecoursework">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ActCommon"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ui.ActSearchBreeds"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ui.ActIdentifyDog"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ui.ActIdentifyBreed"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ui.ActHome"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!--
References

* https://stackoverflow.com/a/12504768 - Activity lifecycle - onCreate called on every re-orientation
-->